body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #293681;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.item {
    display: block;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: justify;
    min-height: auto;
    margin-left: 120px;
}

article img {
    float: left;
}

.menu {
    float: left;
	margin-top: 30px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: "courier";
}

.menu h2 {
    font-size: 15px;
}

.main-section {
    margin: 10px 10px 0 60px;
    width: 750px;
    height: auto;
    float: left;
    display: block;
	min-height: 400px;
    font-family: "courier";
    font-size:15px;
}

.rodape {
    clear: both;
    color: ivory;
}