/*MAIN*/
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(233, 233, 233);
    font-size: 12px;
}
#main {
    width: 75%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.151);
}
.title {
    text-align: center;
    margin: 50px;
}

/*HEADER*/
#header-top {
    height: 50px;
    position: block;
    background-color: rgb(233, 233, 233);
    margin-bottom: 3px;
}
.header-container {
    text-align: center;
}
#header-nav {
    position:relative;
    top: 0;
    right: 0;
    height: 100%;
}
#header-nav ul{
    margin: 0;
    padding:0;
    text-align: center;
}
#header-nav li {
    list-style:none;
    display: inline-block;
    margin-right: 0 15px 0 0;
    padding: 15px;
}
#header-nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
}
#header-nav a:hover {
    color: rgb(54, 54, 54);
}

/*HOME*/
.home {
    padding: 50px 100px;
    text-align: justify;
    height: 100%;
    display: block;
    font-size: 16px;
}
#container-home {
    display: block;
    width: 100%;
}
#foto-home {
    float:left;
    border: 1px solid black;
    max-width: 300px;
    margin-right: 25px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
#texto-home {
    display: inline;
    width: auto;
}
.home h1 {
    font-size: 36px;
    color: #252525;
}
.home p {
    font-size: 16px;
    line-height: 2;
    color: #555;
}
.home a {
    font-family: sans-serif;    
    color: Black;
    text-decoration: none;
}
#title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
}


#container-main {
    height: 100%;
    width: 100%;
}

#foto_main {
    width: 100%;
    filter: opacity(0.8);
}

#project-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
}

.projetos {
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.projetos-card {
    text-align: center;
    display:inline-block;
    text-decoration: none;
}

.projetos-title {
    text-transform: uppercase;
    text-decoration: none;
}

.projetos-text {
    color: #000000;
    text-decoration: none;
    text-transform: none;
}

.item-link {
    text-decoration: none;
    color: black;
}

.about {
    background-color: #003d52;
    padding: 100px;
    margin: 30px;
    color: white;
    background-image: url("img/bg_detalhe.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.about p {
    line-height: 1.5;
    width: 70%;
}

.about h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

/*SKILLS*/
.skills {
    list-style: none;
    padding: 0;
}
.skill {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 10px 30px;
}
.skill-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    margin: 12px;
}
i {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
.skill-details {
    display: none;
    font-size: 16px;
    margin: 12px;
    padding: 2px;
}
.skill.active .skill-details {
    display: block;
}

/*ABOUT ME menu images*/
.menu {
    margin: 15px;
    display:grid;
    justify-content: space-between;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'A B' 'C D';
}
.A {
    grid-area: A;
}
.B {
    grid-area: B;
}
.menu-item {
    max-height: 350px;
    position:relative;
    float:left;
    margin: 15px;
}
.menu-item img {
    border: 1px solid rgb(0, 0, 0,0.25);
    width: 100%;
    height: 100%;
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-decoration: none;
}
.text-menu {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 20px;
    text-align: justify;
}
.menu-item:hover .text-overlay {
    opacity: 1;
}
@media screen and (max-width: 768px) {
	
	#main {
        width: 100%;
    }
    .menu {
        margin: 15px;
        display:block;
        justify-content: space-between;
        grid-template-areas: 'A B' 'A B';
    }
    .text-menu {
        font-size: 14px;
    }
    .menu-item {
        display:inline-block;
    }
}

/*FOOTER*/
.footer {
    background: #0b171f;
    padding: 25px;
    font-size: 14px;
    color: #6f8597;
    letter-spacing: 5px;
    text-align: center;
    border-radius: inherit;
    margin-top: 10px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer a:hover {
    color: rgb(214, 214, 214);
    transition: color 0.3s linear;
}

cite {
    font-size: 14px;
    text-align: right;
    display: block;
}