<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title> Página Principal </title>
</head>

<body>
    <p> Bem-vindo à página inicial da Fatec Sorocaba</p>
</body>

</html>